/* Home.css */
.home {
    padding-top: 80px; /* Offset for the fixed navbar */
   
    text-align: center;
    padding: 40px 20px;
}

.home h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    animation: fadeInDown 1s ease-in-out;
}

.home p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #555;
}

.whatsapp-btn {
    background-color: #25d366;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.whatsapp-btn:hover {
    background-color: #1da851;
}

.slider {
    margin-top: 30px;
    width: 80%;
    max-width: 700px;
    margin: 30px auto;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.slider img {
    width: 100%;
    display: block;
    transition: transform 0.5s ease-in-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .home h1 {
        font-size: 2em;
    }

    .home p {
        font-size: 1em;
    }

    .slider {
        width: 90%;
    }
}
