/* Navbar.css */
/* .navbar {
    display: flex;
    justify-content: center; 
    overflow: hidden;
    position: fixed;
    width: 40%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
} */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
   
    color: #fff;
    position: fixed;
    top: 0;
    bottom: 1;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
}
.navbar-container {
    display: flex;
    justify-content: space-between; /* Adjust spacing if needed */
    max-width: 1200px; /* Adjust to your desired max-width */
    width: 100%; /* Allow the container to be responsive */
  }

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #ddd;
    color: #333;
}

/* Responsive Styles */

/* Navbar.css */


.navbar-logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.navbar-toggle span {
    width: 25px;
    height: 3px;
    background-color: #fff;
}

.navbar-links-mobile {
    display: none;
    flex-direction: column;
    background-color: #333;
    padding: 10px;
    position: absolute;
    top: 50px;
    width: 100%;
    left: 0;
}

.navbar-links-mobile a {
    margin: 10px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .navbar-toggle {
        display: flex;
    }

    .navbar-links-mobile.show {
        display: flex;
    }
}

.hidden-navbar {
    top: -100px; /* Hides the navbar */
}

